---
import ServiceCard from "./ServiceCard.astro";

interface Props {
  services: {
    name: string;
    description: string;
    image: string;
    alt: string;
    price?: string;
    priceLabel?: string;
    hasPrice: boolean;
  }[];
}

const { services } = Astro.props;
---

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
  {
    services.map((servicio) => (
      <ServiceCard
        name={servicio.name}
        description={servicio.description}
        image={servicio.image}
        alt={servicio.alt}
        price={servicio.price}
        priceLabel={servicio.priceLabel}
        hasPrice={servicio.hasPrice}
      />
    ))
  }
</div>
